.post {
    width: 500px;
    margin-inline: auto;
    border-radius: 10px;
    padding: 20px;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.post header {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post header .edit-icon {
    cursor: pointer;
    user-select: none;
    color: #222831;
}

.post main {
    padding: 0;
}
  
@media screen and (width <= 500px) {
    .post {
        width: 90%;
    }
}